html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}

header {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#logo {
    width: 140px;
    float: left;
    margin: 10px 0 0 40px;
}

#logo img {
    width: 100%;
}

header nav {
    float: right;
    margin: 10px 40px 0 0;
}

header nav ul li {
    float: left;
    margin-right: 20px;
    list-style-type: none;
}

header nav ul li a {
    margin-top: 60px;
    font-family: 'Raleway100', sans-serif;
    font-size: 16px;
    color: #80b3ac;
    text-decoration: none
}

header nav ul li a:hover {
    color: #4f7383;
}

main {
    height: 100%;
}

#maincontent {
    position: relative;
    min-height: 300px;
}

#search {
    position: absolute;
    width: 80%;
    top: -80px;
    background-color: #4f7383;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
}

#search-input {
    width: 100%;
    padding: 4px;
    margin-bottom: 12px;
}

.search-options select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

h1 {
    font-family: 'Raleway100', sans-serif;
    text-transform: uppercase;
    color: #80b3ac;
}

#image {
    background-size: cover;
    background: url("../images/home_full.jpg") fixed center center;
    max-height: 70vh;
    height: 100%;
    width: 100%;
}

/* ---- Form ---- */
form textarea {
    font-family: 'Raleway600', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 2px;
    outline: none;
    width: 551px;
    height: 20px;
    resize: none;
}


.input_text {
    padding-left: 10px;
}