html, body {
    margin: 0;
    padding: 0;
    height: 100%;

}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;

}

header {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#logo {
    width: 140px;
    float: left;
    margin: 10px 0 0 40px;
}

#logo img {
    width: 100%;
}

header nav {
    float: right;
    margin: 10px 40px 0 0;
}

header nav ul li {
    float: left;
    margin-right: 20px;
    list-style-type: none;
}

header nav ul li a {
    margin-top: 60px;
    font-family: 'Raleway100', sans-serif;
    font-size: 16px;
    color: #80b3ac;
    text-decoration: none
}

header nav ul li a:hover {
    color: #4f7383;
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#maincontent {
    position: relative;
    flex-grow: 1;
    height: 100%;
}

#search {
    position: absolute;
    width: 80%;
    top: -80px;
    background-color: #4f7383;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-around;
}

#search-input {
    padding: 4px;
    margin-bottom: 12px;
    order: 1;
}

.search-options {
    border-radius: 6px;
    font-size: 14px;
    font-weight: 200;
    position: relative;
}

.search-options select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    flex-wrap: nowrap;
    background-color: #f9f9f9;
    width: auto;
    padding: 8px 15px;
    z-index: 1;
    cursor: pointer;
}

.search-options select .icon-down-open:before {
    pointer-events: none;
    font-family: 'fontello';
    content: '\e800';
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #4f7383;
}

/* ------- BUTTON ---------*/

.start-suche {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eb5a25), color-stop(1, #c74f24));
    background:-moz-linear-gradient(top, #eb5a25 5%, #c74f24 100%);
    background:-webkit-linear-gradient(top, #eb5a25 5%, #c74f24 100%);
    background:-o-linear-gradient(top, #eb5a25 5%, #c74f24 100%);
    background:-ms-linear-gradient(top, #eb5a25 5%, #c74f24 100%);
    background:linear-gradient(to bottom, #eb5a25 5%, #c74f24 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb5a25', endColorstr='#c74f24',GradientType=0);
    background-color:#eb5a25;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:7px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
    order: 2;
}

.start-suche:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c74f24), color-stop(1, #eb5a25));
    background:-moz-linear-gradient(top, #c74f24 5%, #eb5a25 100%);
    background:-webkit-linear-gradient(top, #c74f24 5%, #eb5a25 100%);
    background:-o-linear-gradient(top, #c74f24 5%, #eb5a25 100%);
    background:-ms-linear-gradient(top, #c74f24 5%, #eb5a25 100%);
    background:linear-gradient(to bottom, #c74f24 5%, #eb5a25 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c74f24', endColorstr='#eb5a25',GradientType=0);
    background-color:#c74f24;
}

.start-suche:active {
    position:relative;
    top:1px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    font-family: 'Raleway600', sans-serif;
    text-transform: uppercase;
    color: #80b3ac;
}

h2 {

    font-size: 30px;
    color: #eb5a25;
    white-space: nowrap;
    text-align: left;
    padding-left: 20px;
}

#image {

    background: url("../images/home_full.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    min-height: 70vh;
    height: 100%;
    width: auto;
}

/* ---- Form ---- */
form textarea {
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 2px;
    outline: none;
    width: 551px;
    height: 20px;
    resize: none;
}


.input_text {
    padding-left: 10px;
    margin: 10px;
    min-width: 400px;
    min-height: 20px;
}

/* --- PROPOSALS --- */

.proposals_list {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
}

#restaurants-container {
    padding-top: 150px;
}


.topic-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
}

.topic-list li {
    display: list-item;
    min-width: auto;
    padding: 10px;
    margin: 0 5px 20px;
}

footer {
    text-align: center;
    font-family: 'Raleway100', sans-serif;
}

footer a {
    font-size: 16px;
    color: #4f7383;
    text-decoration: none
}
